* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-image: url(./assets/bg.png);
  background-size: cover;
}
/* Here Header Section Start */
/* Here Header Section Start */
/* Here Header Section Start */
/* Here Header Section Start */
header {
  background-color: black;
  height: 65px;
  width: 100%;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  color: white;
  margin: 0px 70px;
  padding: 13px 0px;
}
.menu-bar {
  display: none;
}
.logo img {
  width: 110px;
}
.line {
  border: 1px solid white;
  height: 35px;
  margin: 0px 30px;
}
.nav-bar {
  flex-grow: 1;
}
.utility {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 45px;
  font-size: 17px;
  font-weight: 700;
}
.utility li:hover {
  text-decoration: underline;
  font-size: 19px;
  font-weight: 800px;
  cursor: pointer;
}
.btn {
  background-color: #ba0cc5;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  padding: 8px 25px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  border: black;
}

/* Here Main or Hero Section Start */
/* Here Main or Hero Section Start */
/* Here Main or Hero Section Start */
/* Here Main or Hero Section Start */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 157px;
}
.heading {
  font-size: 60px;
  font-weight: 700;
  color: white;
  line-height: 70px;
  text-indent: 45px;
}
.sub-heading {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
  margin-bottom: 15px;
}
.big-button {
  font-weight: 700;
  font-size: 20px;
  padding: 10px 35px;
}
/* Media Queries Start */
/* Media Queries Start */
/* Media Queries Start */
/* Mobile Section */
/* Mobile Section */
@media (max-width: 1100px) {
  body {
    /* height: 97vh; */
    height: 100vh;
    background-repeat: no-repeat;
  }
  /* Here Header Section Start */
  /* Here Header Section Start */
  /* Here Header Section Start */
  /* Here Header Section Start */
  header {
    background-color: black;
    height: 65px;
    width: 100%;
  }
  .navigation {
    margin: 0px;
    padding: 15px;
  }

  .logo img {
    width: 100px;
  }
  .menu-bar {
    display: block;
  }
  .line {
    display: none;
  }
  .nav-bar {
    display: none;
  }
  .btn {
    padding: 10px;
  }

  /* Here Main or Hero Section Start */
  /* Here Main or Hero Section Start */
  /* Here Main or Hero Section Start */
  /* Here Main or Hero Section Start */
  .hero-section {
    padding: 20px;
    align-items: baseline;
    justify-content: baseline;
    margin-top: 190px;
    margin-left: 15px;
  }
  .heading {
    font-size: 45px;
    line-height: 50px;
    text-indent: 0px;
  }
  .sub-heading {
    font-size: 17px;
    margin: 20px 0px;
  }
  .big-button {
    font-weight: 600;
  }
}
